.contact-main{
    padding:3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h1{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3rem;
}
.contact-link{
    padding:1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    font-size: 3.9rem;
    margin-bottom: .8rem;
}
.contact-form{
    margin-top:1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group input, .form-group textarea{
    width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border:2px solid #0095ff;
    outline: none;
    color: white;
    font-size: 1.3rem;
    background-color: transparent;
}
.form-group input::placeholder, .form-group textarea::placeholder{
    font-size: 1rem;
    color: #ccc;
}
.form-group textarea{
    height: 15rem;
    resize: none;
}
form button{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #0095ff;
    box-shadow: 0px 0px 50px 5px #0080db;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
form button:hover{
    background-color: #0071e3;
    box-shadow: 0px 0px 50px 5px #0067cd;
}



